@import "./style.scss";

.contact-info {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > .contact {
        @extend .flex-row;
        justify-content: left;
        margin-top: 15px;
        
        > img {
            margin-right: 25px;
        } 
    }
}