@import "./style.scss";

:root {
    --header-height: 450px;
}

header {
    height: var(--header-height);

    * {
        background-color: transparent;
    }

    > nav {
        display: flex;
        justify-content: flex-end;
        color: white;
        margin: 10px 30px 40px;

        > a {
            outline: none;
            text-decoration: none;
            color: white;
            margin: 10px;

            &:hover {
                text-decoration: underline;
                transition: .5s;
            }
        }
    }

    .show-up {
        animation: showUp 1s;
        animation-fill-mode: forwards;
        animation-delay: var(--delay-show-up);
        overflow: hidden;
        visibility: hidden;
        height: 67px;
        box-sizing: border-box;
        color: white;
        font-size: xxx-large;
        width: fit-content;
        letter-spacing: 1px;
    }

    // & > .card {
    //     height: 250px;
    //     width: 300px;
    //     backdrop-filter: blur(30px);
    //     border-radius: 50px; 
    // }
}

header *,
footer * {
    font-family: 'Poppins';
}

footer {
    @extend .flex-center;
    color: white;   
    height: 100px;
    justify-content: space-evenly;

    img {
        width: 35px;
    }
}

main {
    margin: 0 200px;
}

@keyframes showUp {
    from {
        visibility: visible;
        padding-top: 67px;
    } to {
        padding-top: 0;
        visibility: visible;
    }
}