@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html,
body {
  margin: 0;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e9e9e9;
}

.section-title {
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-size: 30px;
}

button {
  cursor: pointer;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #e9e9e9;
  line-height: 1.6rem;
}

li {
  margin-bottom: 10px;
}

.flex-center, .flex-col, .flex-row, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.overlap {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlap > * {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.trans-bg {
  background-color: transparent;
}

.indent {
  padding-left: 30px;
}

img.logo {
  width: 35px;
}

:root {
  --header-height: 450px;
}

header {
  height: var(--header-height);
}

header * {
  background-color: transparent;
  color: #e9e9e9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header *:hover {
  color: #fff;
}

header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #e9e9e9;
  margin: 10px 30px 40px;
}

header > nav > a {
  text-transform: uppercase;
  letter-spacing: 0.10em;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  position: relative;
  outline: none;
  color: #e9e9e9;
  margin: 10px 20px;
}

header > nav > a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header > nav > a:hover::after {
  width: 100%;
  left: 0;
}

header .show-up {
  -webkit-animation: showUp 1s;
          animation: showUp 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: var(--delay-show-up);
          animation-delay: var(--delay-show-up);
  overflow: hidden;
  visibility: hidden;
  height: 67px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #e9e9e9;
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header *,
footer * {
  font-family: 'Poppins';
}

footer {
  color: #e9e9e9;
  height: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

main {
  margin: 0 12.5vw;
}

@-webkit-keyframes showUp {
  from {
    visibility: visible;
    padding-top: 67px;
  }
  to {
    padding-top: 0;
    visibility: visible;
  }
}

@keyframes showUp {
  from {
    visibility: visible;
    padding-top: 67px;
  }
  to {
    padding-top: 0;
    visibility: visible;
  }
}
/*# sourceMappingURL=index.css.map */