.contact-info {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;

        margin-top: 15px;
        
        > img {
            margin-right: 25px;
        }  
    } 
}